.tomorrow-night-eighties {
  --ansi-black: #2d2d2d;
  --background-color: var(--ansi-black);
  background-color: var(--background-color);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.see-more {
  justify-content: space-between;
}

.code {
  max-width: clamp(20ch, 80vw, 80ch);
  padding: 1.25em;
  overflow-x: auto;
}

.description {
  overflow-x: auto;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.description a {
  color: var(--text);
}

.description > * {
  margin: 0;
}

.subtitle {
  order: -1;
}

.back {

}

.title, .back {
  margin-bottom: 0.8em;
  font-size: 10em;
}

.title {
  text-align: right;

}
.exercise {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}