@import "@/styles/utils.module.scss";

.tomorrow-night-eighties {
  --ansi-black: #2d2d2d;
  --background-color: var(--ansi-black);
  background-color: var(--background-color);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: var(--size-content-3);
}

.see-more {
  justify-content: space-between;
}

.code {
  max-width: clamp(20ch, 80vw, 80ch);
  padding: var(--size-5);
  overflow-x: auto;
  width: var(--size-content-3);
}

.description {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.description a {
  color: var(--text);
}

.description > * {
  margin: 0;
}

.subtitle {
  order: -1;
}

.back {
  @extend .backLink;
  
}

.title {
  text-align: center;
  margin-top: var(--size-8);
  
}
.exercise {
  padding: var(--size-5) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-5);
  @extend .contentBackground;
}