.container {
  width: 100%;
  ol {
    list-style: none;
    padding: 0;
  }
}

.item,
.item:visited:not(:hover) {
  color: var(--text);
  text-decoration-color: var(--text);
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  @media (min-width: 768px) {
    font-size: var(--font-size-4);
  }

  font-weight: var(--font-weight-7);
}

.section {
  text-transform: uppercase;
}
