.container {
}

.list {
  font-size: 2em;
}

.item, .item:visited:not(:hover) {
  color: var(--text);
  text-decoration-color: var(--text);
}

.item {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.section {
  text-transform: uppercase;
}

