@import "@/styles/utils.module.scss";
.container {
  // background-color: peachpuff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  gap: var(--size-5);
  border-radius: var(--radius-5);
  max-width: var(--size-content-3);
  margin: 0 auto;

  @extend .contentBackground;
}

.title, .link, .link:visited {
  color: var(--text);
}

.container > *:is(:last-child) {
  align-self: flex-start;  
}

.title {
  text-align: center;
  margin: var(--size-5) 0;
}

.container > *:not(:last-child, :first-child) {
  flex: 1;
}

.link {
  @extend .backLink;
}
