.head, .head a, .head a:visited { 
  color: var(--text);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: calc(1em / 16) solid black;
  margin-top: 1.5em;
  font-size: 2em;
}

.head > * {
  margin: 0;
}