.gradient {
  background: linear-gradient(to right, var(--_primary), var(--_secondary), var(--_tertiary), var(--_tertiary), var(--_secondary), var(--_primary));
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--text);
}

@media (prefers-reduced-motion: no-preference) {
  .gradient {
    animation: shine 4s ease-in-out infinite;
    transition: color 300ms ease-in;
    animation-direction: alternate;

    &:hover {
      color: transparent;
      text-decoration: none;
    }
  }
}

@keyframes shine {
  0% {
    background-position: left
  }

  100% {
    background-position: right
  }
}