// audio-player.module.scss
@import "./header-controls.module.scss";
.container {
  @extend .centeredFlex;
  width: $width;
  height: $height;

  &.home {
    position: absolute;
    bottom: var(--size-fluid-4);
    right: var(--size-fluid-4);
  }

}
.button {
  @extend .buttonBase;
}