/* the props */
@import "open-props/style";
@import "open-props/normalize.min.css";
@import "./properties.scss";


html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  width: 100%;
  transition: opacity 1250ms ease, color 1250ms ease, background-color 1250ms ease;
}

html {
  background-color: var(--background);
  color: var(--text);
}


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--_primary);
}

a:visited {
  color: var(--_secondary);
}

a:hover {
  text-decoration: underline;
  color: var(--_primary);
}

img {
  max-width: 100%;
  display: block;
}

@page {
  size: A4 portrait;
}