/* the props */
@import "open-props/style";

@font-face {
  font-family: "Shrek";
  src: url("/fonts/shrek.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Doom";
  src: url("/fonts/doom.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vaporwave";
  src: url("/fonts/vaporwave.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --_amp: var(--amp, 1);
  --_light: var(--light, gainsboro);
  --_dark: var(--dark, #323313);
  --_primary: var(--primary, yellow);
  --_secondary: var(--secondary, magenta);
  --_tertiary: var(--tertiary, cyan);
  --_factor-x: calc(var(--factor-x, calc(1em / 16)) * var(--_amp));
  --_factor-y: var(--factor-y, calc(1em / 8) * var(--_amp));
  --_mouse-x: var(--mouse-x, calc(1/4));
  --_mouse-y: var(--mouse-y, calc(1/4));
  --_blur: var(--blur, calc(1em / 64));
    // since mouse-[x-y] are [-1, 1],
  // dividing by --f will give us a range that is a percentage of the screen
  // since f is 10, the range is [-10%, 10%]
  --f: 5;
  --primary-x: calc(0% * (1 + var(--mouse-x) / var(--f)));
  --primary-y: calc(102% * (1 + var(--mouse-y) / var(--f)));
  --secondary-x: calc(-6% * (1 + var(--mouse-x) / var(--f)));
  --secondary-y: calc(26% * (1 + var(--mouse-y) / var(--f)));
  --tertiary-x: calc(100% * (1 + var(--mouse-x) / var(--f)));
  --tertiary-y: calc(50% * (1 + var(--mouse-y) / var(--f)));
  --bg-gradient: radial-gradient(113% 91% at var(--primary-x) var(--primary-y),
      var(--primary) 0%,
      transparent 100%),
    radial-gradient(142% 91% at var(--secondary-x) var(--secondary-y),
      var(--secondary) 0%,
      transparent 100%),
    radial-gradient(100% 75% at var(--tertiary-x) var(--tertiary-y),
      var(--tertiary) 0%,
      transparent 100%);
  font-family: var(--font-inter);
}

[data-theme="light"] {
  --background: var(--_light);
  --text: var(--_dark);
}

[data-theme="dark"] {
  --background: var(--_dark);
  --text: var(--_light);
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--background);
  transition: color 1250ms ease, background-color 1250ms ease;
  color: var(--text);
  
}

body {
  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 1250ms ease, opacity 1250ms ease;
  }
  
  &:after {
    background-image: var(--bg-gradient);
    z-index: -1;
    opacity: 1;
    
  }
  
  &::before {
    background-color: var(--background);
    pointer-events: none;
    opacity: 0;
    z-index: 2;
  }

  &.transitioning::before {
    opacity: 1;
  }
  &.transitioning::after {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--_primary);
}

a:visited {
  color: var(--_secondary);
}

a:hover {
  text-decoration: underline;
  color: var(--_primary);
}

img {
  max-width: 100%;
  display: block;
}

@page {
  size: A4 portrait;
}