html,
body {
  padding: 0;
  margin: 0;
  font-family: Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

:root {
  --light: gainsboro;
  --dark: #323313;
  --primary: yellow;
  --secondary: magenta;
  --tertiary: cyan;
  @media (prefers-color-scheme: dark) {
    --background: var(--dark);
    --text: var(--light);
  }

  @media (prefers-color-scheme: light) {
    --background: var(--light);
    --text: var(--dark);
  }
  background: var(--background);
  color: var(--text);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@page {
  size: A4 portrait;
}

