$height: 36px;
$width: $height;
$scale: 1.15;
$transition: calc(.25s * 1) ease-in-out;

.buttonBase {
  display: block;
  position: relative;
  color: var(--background);
  height: $height;
  width: $width;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: var(--text);

  &::after {
    position: absolute;
    display: block;
    text-align: center;
    content: attr(data-label);
    border-radius: 50%;
    color: var(--text);
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%, 100%);
      transition-property: transform;
    }
  }

  &:focus, &:hover {
    --offset: 2px;
    --offset-negative: calc(var(--offset) * -1);
    --blur: calc(var(--offset) * 2);
    --shadow-primary: 0 var(--offset-negative) var(--blur) var(--primary);
    --shadow-secondary: var(--offset-negative) var(--offset) var(--blur) var(--secondary);
    --shadow-tertiary: var(--offset) var(--offset) var(--blur) var(--tertiary);
    box-shadow:
      var(--shadow-primary),
      var(--shadow-secondary),
      var(--shadow-tertiary);
  }
}

.centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centeredGrid {
  display: grid;
  align-items: center;
  justify-content: center;
}
