@import "animation.module.scss";
.hero {
  display: flex;
  gap: var(--size-fluid-2);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: var(--radius-5);
  transition: --_amp 1s linear;
  background-image: linear-gradient(var(--text), var(--text)), var(--bg-gradient);
  background-size: auto, 100vw 100vh;
  background-position: center;
  padding: var(--size-fluid-2);
  border-width: var(--size-fluid-3);
  background-clip: content-box, border-box;
  aspect-ratio: var(--ratio-golden);
  width: clamp(320px,66vw, 40rem);
  position: relative;

  h1 {
    color: var(--background);
    text-align: center;
    grid-row: 2 / span 1;
    font-size: var(--font-size-fluid-4);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-00);
    letter-spacing: var(--font-letterspacing-0);
    margin: var(--size-fluid-1) auto 0;
    width: min-content;

    &::first-letter {
      background-image: var(--bg-gradient);
      background-clip: text;
      font-size: calc(var(--font-size-fluid-4) * 1.5);
      color: transparent;
    }
  }
  
  
  
  nav {
    margin-bottom: var(--size-fluid-1);
    ul {
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      list-style: none;
    }
    li {
      font-weight: var(--font-weight-5);
      font-size: calc(var(--font-size-fluid-4) / 2.5);
      margin: 0;
      padding: 0;
      a {
        color: var(--background);
        padding: 0
      }
    }
  }
}
