.hero {
  --light: gainsboro;
  --dark: #323313;
  --primary: yellow;
  --secondary: magenta;
  --tertiary: cyan;
  --mouse-x: calc(1/4);
  --mouse-y: calc(1/4);
  --blur: calc(1em / 64); 
  --factor-x: calc(1em / 16);
  --factor-y: calc(1em / 8);
  --shadow-primary: calc(var(--mouse-x) * var(--factor-x)) calc(var(--mouse-y) * var(--factor-y)) var(--blur) var(--primary);
  --shadow-secondary: calc(var(--mouse-x) * var(--factor-x)) calc(var(--mouse-y) * var(--factor-y) * -1) var(--blur) var(--secondary);
  --shadow-tertiary: calc(var(--mouse-x) * var(--factor-x) * -1) calc(var(--mouse-y) * var(--factor-y) * -1) var(--blur) var(--tertiary);

  transition: color 1250ms ease, background-color 1250ms ease;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: min-content;
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  align-content: center;
  background: var(--background);
  color: var(--text);


  @media screen and (min-width: 768px) {
    padding: 5em;
  }

  @media (prefers-color-scheme: dark) {
    --background: var(--dark);
    --text: var(--light);
  }

  @media (prefers-color-scheme: light) {
    --background: var(--light);
    --text: var(--dark);
  }

  .cmyk {
    text-shadow: var(--shadow-primary), var(--shadow-secondary), var(--shadow-tertiary);
  }
  
  h1,
  h2 {
    transition: all 125ms ease;
  }

  h1 {
    grid-row: 2 / span 1;
    font-size: 3em;
    font-weight: 900;
    line-height: 0.83em;
    margin: 0;
    text-align: baseline;

    span {
      // display: inline-block;
      font-family: var(--font);
      margin-right: -0.25em;
      // margin-bottom: 2em;
      // font-size: 0.5em;
    }
    
    @media screen and (min-width: 768px) {
    font-size: 6em;
    }

    span {
      margin-left: -0.25em;
      pointer-events: none;
    }
  }

  h2 {
    font-size: 1em;
    text-transform: uppercase;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
      font-size: 2em;
      }
  }



  nav {
    grid-row: 3 / 4;
    margin-left: -0.125em;
    
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin-top: 0;
      font-size: 0.5em;

      @media screen and (min-width: 768px) {
        font-size: 1em;
        }
    }
  }
}

.form {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 0px;

  input {
    position: absolute;
    opacity: 0;
    
    + label {
      outline: 2px solid transparent;
      transform: scale(1,1);
      transition:
        outline 125s ease,
        transform .15s ease;
    }
    
    &:focus {
      + label {
        box-shadow: 0 4px 4px var(--primary), -4px -4px 4px var(--secondary), 4px -4px 4px var(--tertiary);
      }
    }
    
    &:active {
      + label {
        transform: scale(1.05);
      }
    }
  }
  
  label {
    --w: 64px;
    --h: calc(var(--w) / 2);
    --br: calc(var(--w) / 1);
    
    position: relative;
    background: var(--dark);
    display: block;
    width: var(--w);
    height: var(--h);
    border-radius: var(--br);
    box-shadow: 0px calc(var(--w) / 7.5) calc(var(--w) / 3.75) 0px rgba(51, 51, 51, 0.1);
    cursor: pointer;
    overflow: hidden;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    
    // Vars for pseudo elements
    --size: calc(var(--w) / 3);
    --offset: calc(var(--w) / 12);
    
    &::before {
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background: var(--light);
      left: 0px;
      top: 50%;
      transform: translate(var(--offset) , -50%);
      box-shadow:
        calc(var(--w) - calc(var(--offset) * 2) - var(--size))
        0px
        0px
        var(--dark);
      
      z-index: 1;
    }
    
    &::after {
      width: var(--size);
      height: var(--size);
      left: 0;
      top: 50%;
      background: var(--light);
      transform: translate(-100%, -50%) scale(1);
      transform-origin: left;
      border-radius: 50%;
      transition:
        transform .35s ease;
    }
    
  }
  
  input:checked {
    + label {
      &::after {
        transform: translate(-100%, -50%) scale(5);
      }
    }
  }
}
