@import "animation.module.scss";
@import "variables.module.scss";

.container {
  display: flex;
  justify-content: center;
  min-height: 100%;
  perspective: 1000px;
  position: relative;
}


.hero {
  display: flex;
  // gap: var(--size-fluid-2);
  justify-content: stretch;
  flex-direction: column;
  align-content: center;
  border-radius: var(--radius-5);
  aspect-ratio: var(--ratio-golden);
  width: min(100%, 800px);
  transform-style: preserve-3d;
  transform: scale(calc(1 + var(--amp-audio, 0) / 50)) rotateX(calc(var(--_mouse-y) * -15deg)) rotateY(calc(var(--_mouse-x) * 15deg));
  box-shadow: calc(var(--_mouse-x) * -10px) calc(var(--_mouse-y) * -10px) 20px var(--text);
  @media (max-width:480px) {
    padding: var(--size-fluid-2);
  }
  @media (max-width:320px) {
    padding: var(--size-fluid-1);
    border-radius: var(--radius-3);
  }
  
  .title {
    border-radius: var(--radius-5);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(--background), var(--background)), var(--noise-5);
    padding: var(--size-fluid-4);
    border-width: var(--size-fluid-1);
    border-color: var(--background);
    background-clip: content-box, border-box, border-box;
    background-size: cover;

  }
  
  canvas {
    position: absolute;
    border-radius: var(--radius-5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  h1 {
    color: var(--text);
    text-align: center;
    grid-row: 2 / span 1;
    font-size: var(--font-size-fluid-4);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-00);
    letter-spacing: var(--font-letterspacing-0);
    margin: var(--size-fluid-1) auto 0;
    width: min-content;
    font-size: var(--font-size-fluid-2);

    @media(min-width: 240px) {
      font-size: var(--font-size-fluid-3);
    }

    @media(min-width: 360px) {
      font-size: var(--font-size-fluid-4);
    }

    &::first-letter {
      font-size: 1.5em;
      background-image: $bg-gradient-mirrored;
      background-size: cover;
      background-position: 100% 100%;
      background-clip: text;
      color: transparent;
    }
  }
  
  
  
  nav {
    margin-bottom: var(--size-fluid-1);
  }
}
