.content, .container {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media print {
    display: none;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 18px;
  align-items: center;
}

.container {
  padding: 1.5em;
  display: grid;
  grid-template-rows: min-content 1fr;

  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.33)), var(--gradient-3), var(--noise-3);
  /* force colors and noise to collide */
  filter: var(--noise-filter-3);
  /* fit noise image to element */
  background-size: cover;
}