
// shoutouts to chris cubellis 
// for animation inspiration
// https://codepen.io/chrscblls/pen/oNBbGba
$spinAmount: 90deg; // has to be in units of 90deg
$speed: 1; // higher speed is slower lol
  


// svg

svg.soundIcon {
  display: block;
  fill: var(--background);
  transition: calc(.25s * #{$speed}) ease-in-out;


  .mute {
    opacity: 1;
    transform: rotate(90deg);
    transform-origin: 80px 55px;
    animation: muteEntrance calc(.5s * #{$speed}) ease-in-out 1 forwards;
    fill: var(--background);
  }
  .speaker {
    fill: var(--background);
    
  }
  .decibels {
    animation: decibelsExit calc(.5s * #{$speed}) ease-out 1 forwards;
    transform-origin: 0 30px;
    opacity: 0;
    fill: var(--background);
    .one {

    }
    .two {
      
    }
    .three {
      
    }
  }
  &.playing {
    .mute {
      animation: muteExit calc(.5s * #{$speed}) ease-in-out 1 forwards;
    }
    .decibels {
      animation: decibelsEntrance calc(.75s * #{$speed}) ease-in-out 1 forwards;
      .one {
        animation: colorPop calc(2s * #{$speed}) 1 forwards;
        animation-delay: calc(.75s * #{$speed});
      }
      
      .two {
        animation: deciblePop calc(.25s * #{$speed}) ease-in-out 1 forwards, colorPop calc(2s * #{$speed}) 1 forwards;
        animation-delay: calc(.75s * #{$speed}), calc(1s * #{$speed});
        opacity: 0;
      }
      
      .three {
        animation: deciblePop calc(.25s * #{$speed}) ease-in-out 1 forwards, colorPop calc(2s * #{$speed}) 1 forwards;
        animation-delay: calc(1s * #{$speed}), calc(1.25s * #{$speed});
        opacity: 0;
      }
    }
  }
}

// HERE LIE KEYFRAMES


// 1. the mute x disappears

@keyframes muteExit { 
  0% {
    transform: rotate(0) scale(1);
  }

  100% {
    transform: rotate($spinAmount) scale(0);
  }
}

// 2. the lil decibels slide & scale in from the left

@keyframes decibelsEntrance { 
  0% {
    transform: translate(30px, 31px) scale(.33);
    opacity: 0;
  }
  100% {
    transform: translate(65px, 31px) scale(1);
    opacity: 1;
  }
}

// 3. the second and third decibels flash in with delays

@keyframes deciblePop {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

// 4. the colors go burrrr

@keyframes colorPop {
  0% {
    fill: var(--primary);
  }
  33% {
    fill: var(--secondary);
  }
  
  66% {
    fill: var(--tertiary);
  }
  
  100% {
    fill: var(--background);
  }
}

// 5. the decibels exit to the right

@keyframes decibelsExit { 
  0% {
    transform: translate(65px, 31px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(75px, 31px) scale(1.25);
    opacity: 0;
  }
}

// 6. the mute x popps back in, is a loop

@keyframes muteEntrance { 
  0% {
    transform: rotate($spinAmount) scale(0);
  }

  100% {
    transform: rotate(calc(#{$spinAmount} + #{$spinAmount})) scale(1)
  }
}