@import "animation.module.scss";
// @import "buttons.module.scss";


.nav {
  ul {
    display: flex;
    margin: 0 var(--size-relative-2);
    gap: var(--size-relative-7);
    justify-content: space-evenly;
    list-style: none;
    padding: 0;

    @media (max-width: 240px) {
      gap: 0;
      font-size: 14px;
    }

    @media (max-width: 360px) {
      gap: var(--size-relative-0);
      font-size: 16px;
    }

    @media (min-width: 768px) {
      margin: 0 var(--size-relative-4);
    }

    &:has(> :nth-child(3):last-child) {
      &:first-child a:hover {
        text-shadow: 0 2px 2px var(--_primary), -2px -2px 2px var(--_secondary), 2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_tertiary);
      }
      &:nth-child(2) a:hover {
        text-shadow: 0 2px 2px var(--_primary), 1px -2px 2px var(--_secondary), -1px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_secondary);
      }
      &:nth-child(3) a:hover {
        text-shadow: 0 2px 2px var(--_primary), 2px -2px 2px var(--_secondary), -2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_primary);
      }
    }
    &:has(> :nth-child(4):last-child) li {
      &:first-child a {
        @extend .textShadowMouse;
        transition: none;
      }
      &:nth-child(2) a:hover {
        text-shadow: 0 2px 2px var(--_primary), -2px -2px 2px var(--_secondary), 2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_tertiary);
      }
      &:nth-child(3) a:hover {
        text-shadow: 0 2px 2px var(--_primary), 1px -2px 2px var(--_secondary), -1px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_secondary);
      }
      &:nth-child(4) a:hover {

        text-shadow: 0 2px 2px var(--_primary), 2px -2px 2px var(--_secondary), -2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_primary);
      }

    }
  }
  li {
    display: block;
    font-weight: var(--font-weight-5);
    @media (min-width: 768px) {
      font-size: var(--font-size-4);
    }
    font-weight: var(--font-weight-5);
    

    a {
      transition: text-shadow 1250ms ease, text-decoration-color 1250ms ease;
    }
  }
}
.home {
  ul {
    li {
      font-size: var(--font-size-fluid-0);

      @media(min-width: 480px) {
        font-size: var(--font-size-fluid-1);
      }

      @media(min-width: 768px) {
        font-size: var(--font-size-fluid-2);
      }

    }
  }
}
.labs {
  & > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 480px) {
      justify-content: space-evenly;
    }
  }
}