@import "animation.module.scss";
.nav {

  .cyan,
  .magenta,
  .yellow,
  .key {
    a {
      font-size: 2em;
      color: var(--text);
      transition: color 1250ms, text-shadow 625ms;
      transition-timing-function: ease;
    }
  }

  .cyan {
    a {
      &:hover {
        text-shadow: 0 2px 2px var(--_primary), -2px -2px 2px var(--_secondary), 2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_tertiary);
      }
    }
  }

  .magenta {
    a {
      &:hover {
        text-shadow: 0 2px 2px var(--_primary), 1px -2px 2px var(--_secondary), -1px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_secondary);
      }
    }
  }

  .yellow {
    a {
      &:hover {
        text-shadow: 0 2px 2px yellow, 2px -2px 2px var(--_secondary), -2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_primary);
      }
    }
  }

  .key {
    @extend .textShadowMouse;
  }
}

.home, .labs {
  & > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    & > li {
      margin: 0 1em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}