@import "animation.module.scss";
// @import "buttons.module.scss";


.nav {
  ul {
    display: flex;
    margin: 0 var(--size-relative-2);
    gap: var(--size-relative-7);
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    &:has(> :nth-child(3):last-child) {
      &:first-child a:hover {
        text-shadow: 0 2px 2px var(--_primary), -2px -2px 2px var(--_secondary), 2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_tertiary);
      }
      &:nth-child(2) a:hover {
        text-shadow: 0 2px 2px var(--_primary), 1px -2px 2px var(--_secondary), -1px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_secondary);
      }
      &:nth-child(3) a:hover {
        text-shadow: 0 2px 2px var(--_primary), 2px -2px 2px var(--_secondary), -2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_primary);
      }
    }
    &:has(> :nth-child(4):last-child) li {
      &:first-child a {
        @extend .textShadowMouse;
        transition: none;
      }
      &:nth-child(2) a:hover {
        text-shadow: 0 2px 2px var(--_primary), -2px -2px 2px var(--_secondary), 2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_tertiary);
      }
      &:nth-child(3) a:hover {
        text-shadow: 0 2px 2px var(--_primary), 1px -2px 2px var(--_secondary), -1px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_secondary);
      }
      &:nth-child(4) a:hover {
        text-shadow: 0 2px 2px var(--_primary), 2px -2px 2px var(--_secondary), -2px -2px 2px var(--_tertiary);
        text-decoration-color: var(--_primary);
      }

    }
  }
  li {
    display: block;
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-5);
    

    a {
      transition: color 1250ms ease, text-shadow 1250ms ease, text-decoration-color 1250ms ease;
    }
  }
}

.labs {
  & > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}