// palette-switcher.module.scss
@import "./header-controls.module.scss";
@import "styles/animation.module.scss";

.container {
  @extend .centeredFlex;

  button {
    @extend .buttonBase;
    @extend .gradient;
    background-clip: unset;
    -webkit-background-clip: unset;
    animation-duration: 30s;
    transition: none;
  }
}

[data-theme="light"] {
  .container {
    --text: var(--dark);
    --background: var(--light);
  }
}

[data-theme="dark"] {
  .container {
    --text: var(--light);
    --background: var(--dark);
  }
}