// palette-switcher.module.scss
@import "./header-controls.module.scss";

.container {
  @extend .centeredFlex;

  &.home {
    position: absolute;
    bottom: 3em;
    left: 3em;
  }

  &,
  button {
    @extend .buttonBase;
    background-image:
      radial-gradient(113% 91% at 17% -2%,
        var(--primary) 0%,
        transparent 100%),
      radial-gradient(142% 91% at -6% 74%,
        var(--secondary) 0%,
        transparent 100%),
      radial-gradient(75% 75% at 100% 50%,
        var(--tertiary) 0%,
        transparent 100%),
      radial-gradient(142% 91% at 52% 56%,
        var(--background) 0%,
        var(--text) 100%);
    ;
  }

  button {
    opacity: 0;
  }

  button:hover {
    opacity: 1;
  }
}

[data-theme="light"] {
  .container {
    --text: var(--dark);
    --background: var(--light);
  }
}

[data-theme="dark"] {
  .container {
    --text: var(--light);
    --background: var(--dark);
  }
}