@font-face {
  font-family: "Shrek";
  src: url("/fonts/shrek.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Doom";
  src: url("/fonts/doom.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vaporwave";
  src: url("/fonts/vaporwave.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@property --_amp {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

@property --amp {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

@property --primary-x {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

@property --secondary-x {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

@property --tertiary-x {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

:root {
  --_amp: var(--amp, 1);
  --amp-audio: var(--amp-audio, 0);
  --_light: var(--light, gainsboro);
  --_dark: var(--dark, #323313);
  --_primary: var(--primary, yellow);
  --_secondary: var(--secondary, magenta);
  --_tertiary: var(--tertiary, cyan);
  --_factor-x: calc(var(--factor-x, calc(1em / 16)) * var(--_amp));
  --_factor-y: var(--factor-y, calc(1em / 8) * var(--_amp));
  --_mouse-x: var(--mouse-x, calc(1/4));
  --_mouse-y: var(--mouse-y, calc(1/4));
  --_blur: var(--blur, calc(1em / 64));
  // since mouse-[x-y] are [-1, 1],
  // dividing by --f will give us a range that is a percentage of the screen
  // since f is 10, the range is [-10%, 10%]
  --f: 5;
  --base-width: 75%;
  --n: calc(1 + var(--_amp) / 16);
  --x: calc(1 + var(--_mouse-x) / 4);
  --y: calc(1 + var(--_mouse-y) / 4);
  --primary-x: calc(0% * var(--x));
  --primary-y: calc(0% * var(--y));
  --secondary-x: calc(100% * var(--x));
  --secondary-y: calc(0% * var(--y));
  --tertiary-x: calc(50% * var(--x));
  --tertiary-y: calc(100% * var(--y));

  --color-stop: 0%;
  --color-stop-primary: calc(var(--amp-primary, 0) * 100%);
  --color-stop-secondary: calc(var(--amp-secondary, 0) * 100%);
  --color-stop-tertiary: calc(var(--amp-tertiary, 0) * 100%);

  --transparent-stop: 100%;
  --gradient-primary: radial-gradient(farthest-corner at var(--primary-x) var(--primary-y),
      var(--primary) var(--color-stop-primary),
      transparent var(--transparent-stop));
  --gradient-secondary: radial-gradient(farthest-corner at var(--secondary-x) var(--secondary-y),
      var(--secondary) var(--color-stop-secondary),
      transparent var(--transparent-stop));
  --gradient-tertiary: radial-gradient(farthest-side at var(--tertiary-x) var(--tertiary-y),
      var(--tertiary) var(--color-stop-tertiary),
      transparent var(--transparent-stop));
  --bg-gradient: var(--gradient-primary), var(--gradient-secondary), var(--gradient-tertiary);

  // --bg-gradient: linear-gradient(to top, var(--primary) calc(var(--amp-tertiary) * 50%), var(--secondary), var(--tertiary));
  --primary-stop: calc(0% + var(--amp-primary) * 66%);
  --secondary-stop: calc(33% + var(--amp-secondary) * 66%);
  --tertiary-stop: calc(66% + var(--amp-tertiary) * 66%);
  --bg-gradient: linear-gradient(to top, var(--primary) var(--primary-stop), var(--secondary) var(--secondary-stop), var(--tertiary) var(--tertiary-stop));

  --bg-gradient-mirrored: linear-gradient(to bottom, var(--tertiary) calc(var(--amp-tertiary) * 50%), var(--secondary), var(--primary));
  font-family: var(--font-inter);
  // extending open-props
  --font-size-fluid-4: clamp(12px, 10vw, 6rem);
  --font-weight-audio: calc(var(--font-weight-9) + var(--_amp) * 20);

  transition: --_amp 150ms linear;
}

[data-theme="light"] {
  --background: var(--_light);
  --text: var(--_dark);
}

[data-theme="dark"] {
  --background: var(--_dark);
  --text: var(--_light);
}