// theme-switcher.module.scss
@import "./header-controls.module.scss";
.container {
  @extend .centeredFlex;
  &.home {
    position: absolute;
    top: 3em;
    right: 3em;
  }
}
.button {
  --w: 64px;
  --h: calc(var(--w) / 2);
  --br: calc(var(--w) / 1);
  --size: calc(var(--w) * 0.45);
  @extend .buttonBase;
  padding: 5%;
  & svg {
    display: block;
    stroke-linecap: round;
  }

  .checkbox {
    z-index: -1;
    opacity: 0;
  }
}