.dark {
  --background: #323313;
  --text: gainsboro;
}

.light {
  --background: gainsboro;
  --text: #323313;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.inlineList {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin: 0;
    &:not(:last-child)::after {
      content: ',';
      margin-right: 0.25rem;
    }
  }
}

.paper {
  width: 210mm;
  height: 296mm;
  padding: 10mm;
  size: a4;

  @media screen {
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm auto;
  }
}

.noPrint {
  @media print {
    display: none;
  }
}