.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.canvas {
  position: absolute;
  height: 100%;
  width: 125%;
  top: 0;
  left: -12.5%;
}
